.outer-hexagon:hover {
  pointer-events: none;
}

.grid-wrapper {
  height: 100%;
}
.grid {
  height: 80%;
}

svg {
  width: 100%;
  height: 100%;
  fill: #979797;
  fill-opacity: 1;
}
#inner-hexagon:hover {
  fill: #149746;
}
