.outer-hexagon:hover {
  pointer-events: none;
}

.grid-wrapper {
  height: 100%;
  max-width: 100vw;
  max-height: 100vw;
}
.grid {
  height: 80%;
}

svg {
  width: 100%;
  height: 100%;
  fill: #979797;
  fill-opacity: 1;
}
#inner-hexagon:hover {
  fill: #3b1497;
}
